/* Global Rules */
* {
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: white;
  }
  
  form {
    border: 1px solid black;
    padding: 5px 25px 10px;
    border-radius: 5px;
    background-color: green;
  }
  
  label {
    color: white;
    font-weight: bold;
    font-style: italic;
  }
  
  body,
  html {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Class Definitions */
  .form-row {
    align-items: center;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    margin: 7px 2px;
    width: 500px;
    gap: 4px;
  }
  
  .txt-input {
    border: none;
    border-radius: 4px;
    font-size: 1em;
    height: 30px;
    text-align: left;
  }
  
  /* ID Definitions */
  #whole {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
  }
  
  #result {
    height: 30px;
    font-weight: 900;
  }
  
  .calulate,
  .reset {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #cecece;
    background-color: orangered;
    font-weight: 900;
    color: white;
    cursor: pointer;
    font-size: medium;
  }
  
  .reset {
    background-color: red;
  }
  